.root {
    padding: 0.5rem;
    transition: all 0.5s;
}

.root:hover {
    background: rgba(256, 256, 256, 0.2);
}

.content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.image {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 8px;
}

.imageText {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000;
    font-weight: 600;
}

.name {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
