.root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
    margin-top: 35px;
}

.btn {
    background: var(--mBlue1);
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 9px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.forgotPassword {
    text-align: center;
    margin: 1rem auto;
    display: block;
    color: blue;
    text-decoration: underline;
}
