@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

figure {
    margin: 0;
}

li {
    list-style: none;
}

:root {
    --blue-1: #2f80ed;
    --border: 1px solid #bdbdbd;
}
