@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

figure {
    margin: 0;
}

li {
    list-style: none;
}

:root {
    --mBlue1: #2f80ed;
    --border: 1px solid #bdbdbd;
    --rounded-lg: 8px;
    --mGray1: #828282;
    --mGray2: #333333;
    --mGray3: #f2f2f2;
    --mGray4: #d3d3d3;
    --mGray5: #252329;
    --mGray6: #3c393f;
    --mBlack1: #120f13;
}
